# Defining the basic <u>CRUD</u> (Create,  Read, Update, Delete) Operations on Pandas Dataframes

Import the modules

In [1]:
import pandas as pd

## <u>Create</u> :

We'll create a dataframe of pokemons using a dictionary and insert a number of inputs to get the idea

Define the columns first in a list representing the specs

In [2]:
cols = ['Name','Type','HP','Attack','Defense']

In [3]:
df = pd.DataFrame(columns=cols)

In [4]:
df

Empty DataFrame
Columns: [Name, Type, HP, Attack, Defense]
Index: []

In [5]:
df.shape[1]

5

# Adding a Row

## <u>Adding a row</u> : ( with "loc")

We are going to add our first Pokemon

In [6]:
df.loc[1] = ['Bulbasaur','Grass',45,49,49]

## <u>Adding a row with "append()"</u> : (dict version)

In [7]:
charmander = {'Name':'Charmander','Type':'Fire','HP':39,'Attack':52,'Defense':43}
df = df.append(charmander,ignore_index=True)
df

         Name   Type  HP Attack Defense
0   Bulbasaur  Grass  45     49      49
1  Charmander   Fire  39     52      43

## <u>Adding a row with "append()"</u> : (Series version )

In [8]:
squirtle = ['Squirtle','Water',44,48,65]
df = df.append(pd.Series(squirtle,index=df.columns),ignore_index=True)
df

         Name   Type  HP Attack Defense
0   Bulbasaur  Grass  45     49      49
1  Charmander   Fire  39     52      43
2    Squirtle  Water  44     48      65

## <u>Adding rows as a list of series</u> :

In [9]:
caterpie = pd.Series(['Caterpie','Bug',45,30,35],index=df.columns)
weedle = pd.Series(['Weedle','Bug',40,35,30],index=df.columns)
pidgey = pd.Series(['Pidgey','Flying',40,45,40],index=df.columns)

lseries = [caterpie,weedle,pidgey]

In [10]:
df = df.append(lseries,ignore_index=True)
df

         Name    Type  HP Attack Defense
0   Bulbasaur   Grass  45     49      49
1  Charmander    Fire  39     52      43
2    Squirtle   Water  44     48      65
3    Caterpie     Bug  45     30      35
4      Weedle     Bug  40     35      30
5      Pidgey  Flying  40     45      40

# Adding a Column

## <u>Adding a column with "assign()" :</u>

We gonna assign Speed to each pokemon

In [11]:
df = df.assign(Speed=[45,65,43,45,50,56])
df

         Name    Type  HP Attack Defense  Speed
0   Bulbasaur   Grass  45     49      49     45
1  Charmander    Fire  39     52      43     65
2    Squirtle   Water  44     48      65     43
3    Caterpie     Bug  45     30      35     45
4      Weedle     Bug  40     35      30     50
5      Pidgey  Flying  40     45      40     56

## <u>Adding a column with a default value :</u>

We want to know if a pokemon is legendary or not but adding a new spec 'Legendary' that consists in a boolean variable

In [12]:
df['Legendary'] = 'False'

In [13]:
df

         Name    Type  HP Attack Defense  Speed Legendary
0   Bulbasaur   Grass  45     49      49     45     False
1  Charmander    Fire  39     52      43     65     False
2    Squirtle   Water  44     48      65     43     False
3    Caterpie     Bug  45     30      35     45     False
4      Weedle     Bug  40     35      30     50     False
5      Pidgey  Flying  40     45      40     56     False

Will give the same input to all the rows