# Defining the basic <u>CRUD</u> (Create,  Read, Update, Delete) Operations on Pandas Dataframes

Import the modules

In [2]:
import pandas as pd

## <u>Create</u> :

We'll create a dataframe of pokemons using a dictionary and insert a number of inputs to get the idea

Define the columns first in a list representing the specs

In [19]:
cols = ['Name','Type','HP','Attack','Defense','Speed','Generation']

In [20]:
df = pd.DataFrame(columns=cols)

In [21]:
df

Empty DataFrame
Columns: [Name, Type, HP, Attack, Defense, Speed, Generation]
Index: []

In [22]:
df.shape[1]

7

## <u>Adding a row</u> :

We are going to add our first Pokemon

In [24]:
df.loc[1] = ['Bulbasaur','Grass',45,49,49,45,1]

In [17]:
df

        Name   Type  HP Attack Defense Speed Generation Legendary
1  Bulbasaur  Grass  45     49      49    45          1     False

## Adding a column

We want to know if a pokemon is legendary or not but adding a new spec 'Legendary' that consists in a boolean variable

In [25]:
df['Legendary'] = 'False'

In [26]:
df

        Name   Type  HP Attack Defense Speed Generation Legendary
1  Bulbasaur  Grass  45     49      49    45          1     False

Will give the same input to all the rows