In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
d1 = datetime(2020,2,2)
d2 = datetime(2020,3,7)

In [4]:
if d1 > d2:
    print("D1 is greater than D2")
elif d1 < d2:
    print("D1 is less then D2")
elif d1 == d2:
    print("D1 and D2 are equal")
else :
    print("D1 and D2 are not equal")

D1 is less then D2

### Datetime Comparison through Pandas

In [5]:
df = pd.DataFrame({'name':['john','fredrick','steven','michal'],
      'date':['06.03.2020','07.03.2020','08.03.2020','09.03.2020']})

In [6]:
df

       name        date
0      john  06.03.2020
1  fredrick  07.03.2020
2    steven  08.03.2020
3    michal  09.03.2020

In [7]:
df['date']

0    06.03.2020
1    07.03.2020
2    08.03.2020
3    09.03.2020
Name: date, dtype: object

In [8]:
d = '07.02.2020'

In [9]:
df.loc[df['date'] == d]

Empty DataFrame
Columns: [name, date]
Index: []

In [10]:
df

       name        date
0      john  06.03.2020
1  fredrick  07.03.2020
2    steven  08.03.2020
3    michal  09.03.2020

## Excluding the rows wich date is lower than todays date

Getting todays date and formatting it

In [11]:
t = datetime.now()
t

datetime.datetime(2020, 3, 8, 12, 18, 24, 293020)

In [12]:
import dateparser

In [13]:
today = datetime.strftime(t,'%d.%m.%Y')

In [14]:
today

'08.03.2020'

Finding the rows that comes after todays date

In [15]:
df.loc[df['date'] >= today]

     name        date
2  steven  08.03.2020
3  michal  09.03.2020

## Determine an interval a month later

In [17]:
from datetime import timedelta

In [16]:
today

'08.03.2020'

In [22]:
month_later = datetime.now() + timedelta(days=30)
month_later

datetime.datetime(2020, 4, 7, 12, 22, 26, 389101)

In [25]:
m_l = datetime.strftime(month_later,'%d.%m.%Y')
m_l

'07.04.2020'

## Convert dates in string format

In [1]:
from datetime import datetime
my_dates = ['5-Nov-18', '25-Mar-17', '1-Nov-18', '7-Mar-17']
my_dates.sort(key=lambda date: datetime.strptime(date, "%d-%b-%y"))
print(my_dates)

['7-Mar-17', '25-Mar-17', '1-Nov-18', '5-Nov-18']